body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: black;
    
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 15%;
    height: 60%;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px;
}


.episode-list {
    width: 25%;
    background-color: #2b3035;
    border-radius: 5px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 360px;
    margin-left: 7.5%;
    margin-top: 2%;
    z-index: 99999;
    overflow: auto;
}


.episode-list::-webkit-scrollbar {
    width: 0px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

.episode-list::-webkit-scrollbar-thumb {
    width: 0px;
    background: rgb(255, 255, 255, .4);
    border-radius: 0px;
    visibility: hidden;
}

.episode-list:hover::-webkit-scrollbar {
    visibility: visible;
}

.episode-list:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.episode-list ul {
    list-style-type: none;
    padding: 0;
}

.episode-list li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #dee2e6;
    font: optional;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 4px;
    
}

.episode-list li:hover {
    background-color: rgba(102, 102, 102, 0.817);
}

.episode-list li.playing {
    background-color: rgb(228, 172, 88);
    color: white;
    height: 150%;
}

.episode-list h2 {

    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.episode-list h3 {

    color: #b9b9b9;
    margin-top: 10px;
}

.video-container {
    width: 60%;
    height: 400px;
    background-color: #000;
    border-radius: 0px;
    padding: 0;
    overflow: hidden;
    margin-right: 7.5%;
    margin-top: 2%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}